.order-product {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    padding: 2vh 2vw;
    margin: 1vh 1vw;
    width: 27vw;
    height: 36vh;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.order-product:hover {
    cursor: pointer;
}

.order-product h4 {
    font-weight: normal;
}