.category-order {
    display: flex;
    font-size: 2em;
    padding: 2vh 2vw;
    margin: 1vh 1vw;
    width: 27vw;
    height: 36vh;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.category-order {
    text-decoration: none;
    color: white;
}