.complete-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
}

.complete-order-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

.compleat-order-header h1 {
    font-size: 3em;
    margin-bottom: 6vh;
}

.complete-order-products {
   display: flex;
   flex-direction: column;
   overflow: auto;
   height: 100%; 
   width: 35%;
}

.complete-order-btns {
    display: flex;
}

.complete-order-btns h4 {
    padding: 1vw 2vh;
    margin: 1vw 2vh;
    background-color: #EB1820;
    border-radius: 5px;
    color: white;
}

.complete-order-btns h4:hover {
    cursor: pointer;
}

.compleat-order-compleating {
    position: absolute;
    top: 45vh;
    left: 29vw; 
    z-index: 2;
}