.order-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.order-panel-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.order-panel p {
    font-size: 7em;
    font-weight: 600;
    color: #FF0000;
}

.order-panel:hover {
   cursor: pointer;
}