.product-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.product-panel-products {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 85vh;
}

.product-panel-btns  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    justify-content: space-around;
}

.product-panel-btns a {
    padding: 5vh;
    font-size: 2em;
    background-color: #EB1820;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}